<!--<table style="width:100%">-->
<!--  <tr>-->
<!--    <th>Connectors List</th>-->
<!--    <th>Dashboard</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td style="border-right:2px solid #7E8182; width: 70%;">-->
<table style="width:100%; padding-top: 30px;">
  <tr>
    <th>
      <span style="font-size:30px;">Connectors</span>
    </th>
  </tr>
  <tr>
    <td>

      <div align="center" style="width: 90%; vertical-align: center; margin: auto; background-color: #FAFAFA; font-family: 'Helvetica Neue';">

        <!--<flux-button style="padding-bottom: 10px;" type="filled" tint="primary" (click)="listKafkaConnectors()">Get list of Connectors</flux-button>-->
        <mat-form-field appearance="fill">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Connector name" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <table style="table-layout: fixed;" mat-table [dataSource]="dataSource" class="mat-elevation-z" matSort>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th style="width: 30%;" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td style="height: 70px;" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>


          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th style="padding-left: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
            <td style="padding-left: 5%;" mat-cell *matCellDef="let element">
              <flux-chip *ngIf= 'element.connector.state == "PAUSED"' swatch-color="#FFB242">{{element.connector.state}} </flux-chip>
              <flux-chip *ngIf= 'element.connector.state == "RUNNING"' swatch-color="#63D46F">{{element.connector.state}} </flux-chip>
              <flux-chip *ngIf= 'element.connector.state == "FAILED"' swatch-color="#F50B0B">{{element.connector.state}} </flux-chip>
              <flux-chip *ngIf= 'element.connector.state == "UNASSIGNED"' swatch-color="#0B59F5">{{element.connector.state}} </flux-chip>
            </td>
          </ng-container>

          <!-- Task Column -->
          <ng-container matColumnDef="tasks">
            <th style="padding-left: 90px;" mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
            <td style="padding-left: 90px;" mat-cell *matCellDef="let element">
<!--              <a href="" (click)="openTasks()">-->
<!--                <label *ngFor="let item of element.tasks | myPipe; let l = count" (click)="openTasks()"> {{item}} </label>-->
<!--              </a>-->
                <button mat-raised-button color="primary" *ngFor="let item of element.tasks | myPipe; let l = count" (click)="openTasks(element.name)"
                        matBadge="{{item}}" matBadgePosition="before" matBadgeColor="accent">
                  View Tasks
                </button>
            </td>
          </ng-container>

<!--          <ng-container matColumnDef="restart">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--              <button *ngIf= 'element.connector.state == "FAILED"-->
<!--                || element.connector.state == "PAUSED"-->
<!--                || element.connector.state == "UNASSIGNED"' matTooltip="Restart connector" mat-icon-button aria-label="Restart Icon" (click)="restartConnector(element.name)">-->
<!--                <mat-icon>refresh icon</mat-icon>-->
<!--              </button>-->
<!--            </td>-->
<!--          </ng-container>-->

          <!-- Menu Column -->
          <ng-container matColumnDef="menu">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before" yPosition="below">

            <button mat-menu-item (click)="viewConnectorConfig(element.name)">
              <mat-icon>settings</mat-icon>
              <span>View Connector Config</span>
            </button>

            <button mat-menu-item *ngIf= 'element.connector.state == "RUNNING"' (click)="pauseConnector(element.name)">
              <mat-icon>pause</mat-icon>
              <span>Pause Connector</span>
            </button>

            <button mat-menu-item *ngIf= 'element.connector.state != "PAUSED"' (click)="restartConnector(element.name)">
              <mat-icon>restart_alt</mat-icon>
              <span>Restart Connector</span>
            </button>

            <button mat-menu-item *ngIf= 'element.connector.state == "PAUSED"' (click)="resumeConnector(element.name)">
              <mat-icon>repeat</mat-icon>
              <span>Resume Connector</span>
            </button>

            <button mat-menu-item (click)="deleteConnector(element.name)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete Connector</span>
            </button>

          </mat-menu>
            </td>
          </ng-container>


          <!--        <ng-container matColumnDef="tasks">-->
          <!--          <th mat-header-cell *matHeaderCellDef> Task </th>-->
          <!--    &lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.connector.state}} </td>&ndash;&gt;-->
          <!--      <td mat-cell *ngFor="let item of [1,2,3,4] | myPipe; let l = count"> Here is the length of my ngFor : {{l} </td>-->
          <!--    </ng-container>-->



          <!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
          <!--    <ng-container matColumnDef="weight">-->
          <!--      <th mat-header-cell *matHeaderCellDef> Weight </th>-->
          <!--      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
          <!--    </ng-container>-->

          <!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <!--    <ng-container matColumnDef="symbol">-->
          <!--      <th mat-header-cell *matHeaderCellDef> Symbol </th>-->
          <!--      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
          <!--    </ng-container>-->

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

      </div>
    </td>
  </tr>
</table>

<!--    </td>-->
<!--    <td style="width: 30%;">-->

<!--    </td>-->
<!--  </tr>-->
<!--</table>-->



